<nav class="navbar navbar-expand-md sticky-top" id="top-navbar">
    <div class="container-fluid ps-2">
        <a class="navbar-brand">
            <img src="./assets/images/trinity_logo_white.png" alt="Trinity Solar" class="brand-logo">
            <span class="brand-separator"></span>
            <span class="brand-prefix">Template</span>
            <i class="fa fa-robot brand-icon"></i>
            <span class="brand-suffix">Application</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-end d-flex" id="navbarSupportedContent" *ngIf="isLoggedIn()">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle head-user-link ps-0" id="navbarDropdown" role="button"
                        aria-controls="dropdown-basic" data-bs-toggle="dropdown">
                        <div class="head-icon profile">
                            <img class="header-btn" src="./assets/images/user-circle.svg" alt="User Logo" />
                        </div>
                        <div class="user-dts">
                            <div class="user-name">
                                <span>{{userName}}</span> <i class="arrow down"></i> <br>
                                <span class="role-class">{{roleName}}</span>
                            </div>
                        </div>
                    </a>
                    <ul class="dropdown-menu mt-0" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)="logoutRequest()">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr class="m-0">